.search-div {
  display: inline;
}

.search-form {
  margin-top: 8px;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form label {
  position: relative;
}

#ebay-label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../logos/ebay.svg) center / contain no-repeat;
}

#newegg-label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../logos/newegg.svg) center / contain no-repeat;
}

#search-field {
  padding: 10px 30px;
  width: 205px;
  height: 30px;

  background: #99566286;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  /* font-size: 18px; */
  font-size: 1em;
  line-height: 21px;
}

#search-submit {
  cursor: pointer;
  font-family: Roboto;
  padding: 7px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 28px; */
  width: 90px;
  height: 30px;
  border-radius: 0.4em;
  color: #0e2752;
  background: #924e996e;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.6), 0 0 0.125em #0e2752;

  box-shadow: inset 0 0 0.5em 0 #924e99, 0 0 0.5em 0 #924e99;

  position: relative;
}

#search-submit:hover {
  background: #924e9998;
}

#store {
  padding: 0 15px;
  height: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #5c518f;
  background: #9e55a656;
  border: none;
}
