// https://www.youtube.com/watch?v=DaDyR9KniLU
$page-width: 6vw;
$half-width: $page-width * 1 / 2;
$third-width: $page-width * 1 /3;
.pagination {
  font-family: "Open Sans", sans-serif;
  //   position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  & a {
    margin: 6px 1px;
    display: inline-block;
    width: $page-width;
    background: #2c3e50;
    line-height: $page-width;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    padding-right: 26px;
  }

  & a:hover {
    color: #e74c3c;
  }

  & a::before,
  & a::after {
    content: "";
    position: absolute;
    border-top: $half-width solid transparent;
    border-bottom: $half-width solid transparent;
  }
}

.active {
  color: #e74c3c !important;
}

.prev,
.next {
  padding-right: 12px !important;
  font-size: $third-width;
}

.prev,
.firstNum {
  border-radius: $half-width 0 0 $half-width;
}

.next,
.lastNum {
  border-radius: 0 $half-width $half-width 0;
}

.num::before,
.next::before,
.lastNum::before {
  border-right: $third-width solid #2c3e50;
  right: 100%;
}

.num::after,
.prev::after {
  border-right: $third-width solid #f1f1f1;
  right: 0%;
  top: 0;
}

.firstNum::before {
  border-right: $third-width solid #2c3e50;
  right: 0%;
}
